<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/start/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/ui.jqgrid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/sitelite.css" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="~/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="~/plugins/jquery.contextmenu.js" type="text/javascript"></script>
</head>
<body>
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/ISON-small.JPG" alt="ISON "/>
                </div>
                <div class="float-left">
                    <p class="site-title">ISON v1.0</p>
                    <div style="font-style:italic">Risen from the ashes of a dead comet...</div>
                </div>
                <div class="float-right">
                    <section id="login">
                        Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul id="menu">
@*                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
*@                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
</body>
</html>
