@using AguaDeMaria.Filters
@model  AguaDeMaria.Model.Dto.PaymentDto

@using (Html.BeginForm("Save", "Payment", FormMethod.Post, new {id = "paymentEntryForm"}))
{
    <table>
        <tr style="display: none">
            <td></td>
            <td>
                @Html.HiddenFor(x => x.CustomerId)
                @Html.HiddenFor(x => x.SalesInvoiceId)
                @Html.Hidden(ConvertDatesToUtcAttribute.DateOffset, "0")
            </td>
        </tr>
        <tr>
            <td class="editLabel">
                @Html.LabelFor(x => x.CustomerName)
            </td>
            <td>
                @Html.TextBoxFor(x => x.CustomerName, new {@readonly = "true"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.InvoiceNumber)
            </td>
            <td>
                @Html.TextBoxFor(x => x.InvoiceNumber, new {@readonly = "true"})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.InvoiceDate)
            </td>
            <td>
                @Html.TextBoxFor(x => x.InvoiceDate, new Dictionary<string, object>() {{ "readonly", "true" }})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.Amount)
            </td>
            <td>
                @Html.TextBoxFor(x => x.Amount)
            </td>
        </tr>
        @if (!Model.IsValid)
        {
            <tr>
                <td colspan="2">
                    @foreach (string errorMessage in Model.ValidationErrors)
                    {
                        @Html.Label("* " + errorMessage, new {@class = "validationError"})
                    }
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <table id="receivableList"></table>
                <div id="receivableListPager"></div>
            </td>
        </tr>
    </table>
}

<script>
    var paymentEditorGrid = function () {

        function showPaymentGridImpl(customerId, salesInvoiceId) {
            var url = salesInvoiceId == 0
                ? "/Payment/ReceivableList?customerId=" + customerId :
                "/Payment/DeliveryReceiptList?salesInvoiceId=" + salesInvoiceId;
            jQuery("#receivableList").jqGrid({
                url: url,
                datatype: "json",
                colNames: ['DR Id', 'DR Number', 'DR Date', 'Amount', 'Paid','Balance'],
                colModel: [
                    { name: 'DeliveryReceiptId', key: true, index: 'DeliveryReceiptId', width: 75, hidden: true, sorttype: 'int' },
                    { name: 'DrNumber', index: 'DrNumber', width: 35 },
                    { name: 'DrDate', index: 'DrDate', width: 35, formatter: 'date', formatoptions: { srcformat: 'm/d/Y H:i', newformat: 'm/d/Y H:i' }, sorttype: 'date' },
                    { name: 'Amount', index: 'Amount', width: 27, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' },
                    { name: 'PaidAmount', index: 'PaidAmount', width: 27, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' },
                    { name: 'ReceivableAmount', index: 'ReceivableAmount', width: 27, formatter: 'currency', formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: 2, prefix: "₱ " }, align: "right", sorttype: 'number' }
                ],
                sortname: 'DeliveryReceiptId',
                viewrecords: true,
                ignoreCase: true,
                pager: '#receivableListPager',
                sortorder: "asc",
                caption: "Receivables",
                width: 400,
                height: "100%",
                loadonce: true,
                footerrow: true,
                rowNum: 50,
                gridComplete: function () {
                    //set the footer
                    var grid = $("#receivableList");
                    grid.jqGrid('footerData', 'set', {
                        'DrNumber': 'Total',
                        'Amount': grid.jqGrid('getCol', 'Amount', false, 'sum'),
                        'PaidAmount': grid.jqGrid('getCol', 'PaidAmount', false, 'sum'),
                        'ReceivableAmount': grid.jqGrid('getCol', 'ReceivableAmount', false, 'sum')
                    });
                }
            });
            //show the Navigator
            jQuery("#receivableList")
                .jqGrid('navGrid', '#receivableListPager', { edit: false, add: false, del: false });
        };

        return ({
            showPaymentGrid: showPaymentGridImpl
        });
    }();

    $(document).ready(function () {
        //show the grid
        var customerId = $("#CustomerId").val();
        var salesInvoiceId = $("#SalesInvoiceId").val();
        paymentEditorGrid.showPaymentGrid(customerId, salesInvoiceId);
        var localized = DateFunctions.UtctoLocalDate($("#InvoiceDate").val());
        $("#InvoiceDate").val(localized.toLocaleDateString() + " " + localized.toLocaleTimeString());
        $("#@ConvertDatesToUtcAttribute.DateOffset").val((new Date()).getTimezoneOffset());
    });

</script>
