@model AguaDeMaria.Models.LoginModel
<div class="content-wrapper">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <h3>Please login:</h3>
        <div style="border: 2px">
            <div>
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName)
            </div>
            <div>
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
            </div>
            <div>
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe) Remember me
                </label>
            </div>
            @Html.ValidationSummary(true)
            <div>@Html.HiddenFor(x => x.Redirect)</div>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $().ready(function () {
        $("#UserName").focus();
    });

</script>